<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsAppHospital.Properties.Settings.shamin_hospitalConnectionString"
            connectionString="Data Source=WIN-ONFQJH6LH4K\SQLEXPRESS;Initial Catalog=shamin_hospital;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>